<div class="card {{modifier}}">
  <img data-src="{{bg-image}}" class="card-bg {{bg-alignment}}"/>
  <div class="content">
    <div class="caption">
      <h3>{{sub-caption}}</h3>
      {{#if caption}}
        <h2>{{caption}}</h2>
      {{/if}}
      {{#if logo}}
        <img data-src="{{logo}}" class="logo"/>
      {{/if}}
    </div>
    {{#if text}}
      <div class="text">
        <p>{{text}}</p>
      </div>
    {{/if}}
  </div>
</div>
